/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #170E29;
}

/* Remove list styles on ul */
ul {
  list-style: none;
  text-decoration: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

.App{
    padding:0 50px;
    line-height: 1.5;
}
